<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sansam.team.team.query.mapper.TeamMemberScheduleQueryMapper">

    <select id="selectTeamMemberScheduleList" resultType="TeamMemberScheduleQueryDTO">
        SELECT tsp.team_schedule_progress_seq teamMemberScheduleSeq
            ,  tsp.team_schedule_seq
            ,  tsp.team_member_seq
            ,  tsp.team_schedule_progress_content
            ,  tsp.team_schedule_progress_percent
            ,  tsp.team_schedule_progress_feedback
            , DATE_FORMAT(tsp.start_date, '%Y-%m-%d %H:%i:%s') start_date
            , DATE_FORMAT(tsp.end_date, '%Y-%m-%d %H:%i:%s') end_date
        FROM tbl_team_member_schedule_progress tsp
        JOIN tbl_team_schedule ts ON (tsp.team_schedule_seq = ts.team_schedule_seq)
        WHERE tsp.team_schedule_seq = #{teamScheduleSeq}
    </select>

</mapper>

