<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sansam.team.user.query.mapper.UserQueryMapper">

    <select id="findAllLoginLog" resultType="sansam.team.user.query.dto.AdminLoginLogDTO">
        SELECT tl.login_log_seq logSeq
            , tl.login_log_code loginCode
            , tl.login_log_reg_date regDate
            , tl.login_log_ip loginIp
            , tl.user_seq userSeq
            , tu.user_name userName
            , tu.user_id userId
            , tu.user_auth userAuth
            , tu.user_status userStatus
        FROM tbl_login_log tl
        INNER JOIN tbl_user tu ON (tl.user_seq = tu.user_seq)
        WHERE 0=0
        <if test="userId != ''">
            AND tu.user_id = #{userId}
        </if>
        <if test="userName != ''">
            AND tu.user_name = #{userName}
        </if>
        <if test="userAuth != ''">
            AND tu.user_auth = #{userAuth}
        </if>
        <if test="loginCode != ''">
            AND tl.login_log_code = #{loginCode}
        </if>
        <choose>
            <when test="startDate != '' AND endDate == ''">
                <![CDATA[
                tl.login_log_reg_date >= to_date(#{startDate},'%Y%m%d%H%i%s')
                ]]>
            </when>
            <when test="startDate == '' AND endDate != ''">
                <![CDATA[
                tl.login_log_reg_date <= to_date(#{endDate},'%Y%m%d%H%i%s')
                ]]>
            </when>
            <otherwise>
                AND tl.login_log_reg_date BETWEEN to_date(#{startDate},'%Y%m%d%H%i%s') AND to_date(#{endDate},'%Y%m%d%H%i%s')
            </otherwise>
        </choose>
    </select>

</mapper>