<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sansam.team.project.query.mapper.ProjectMapper">

    <!-- 프로젝트 전체 조회 (관리자) -->
    <select id="findAllProjectForAdmin" resultType="ProjectAllQueryDTO">
        SELECT
            project_seq AS projectSeq,
            project_title AS projectTitle,
            project_status AS projectStatus,
            project_img_url AS projectImgUrl
        FROM
            tbl_project
    </select>

    <!-- 프로젝트 전체 조회 (사용자) -->
    <select id="findAllProjectForUser" resultType="ProjectAllQueryDTO">
        SELECT
            p.project_seq AS projectSeq,
            p.project_title AS projectTitle,
            p.project_status AS projectStatus,
            p.project_img_url AS projectImgUrl,
            pm.project_mentor_yn
        FROM
            tbl_project p
        JOIN
            tbl_project_member pm ON p.project_seq = pm.project_seq
        WHERE
            pm.user_seq = #{userSeq}
         AND pm.project_member_del_yn = 'N'

    </select>

    <!-- 프로젝트 상세 조회 (관리자) - 관리자 이름 포함 -->
    <select id="findProjectByIdForAdmin" resultType="AdminProjectQueryDTO">
        SELECT
            p.project_seq
            , p.project_title
            , p.project_content
            , p.project_status
            , p.project_head_count
            , p.project_img_url
            , DATE_FORMAT(p.project_start_date , '%Y-%m-%d') project_start_date
            , DATE_FORMAT(p.project_end_date , '%Y-%m-%d') project_end_date
            , u.user_name
        FROM
            tbl_project p
        LEFT JOIN
            tbl_user u ON p.project_admin_seq = u.user_seq
        WHERE
            p.project_seq = #{projectSeq}
    </select>

    <!-- 프로젝트 상세 조회 (사용자) -->
    <select id="findProjectByIdForUser" parameterType="ProjectQueryResponse" resultType="ProjectQueryDTO">
        SELECT
            p.project_seq
            , p.project_title
            , p.project_content
            , p.project_status
            , p.project_head_count
            , p.project_img_url
            , DATE_FORMAT(p.project_start_date , '%Y-%m-%d') project_start_date
            , DATE_FORMAT(p.project_end_date , '%Y-%m-%d') project_end_date
            , pm.project_mentor_yn
        FROM tbl_project p
        JOIN tbl_project_member pm
            ON pm.project_seq = p.project_seq
        JOIN tbl_user u
            ON u.user_seq = pm.user_seq
        WHERE p.project_seq = #{projectSeq}
        AND pm.user_seq = #{userSeq};
    </select>

    <select id="findProjectMemberByIdForUser" resultType="ProjectMemberQueryDTO">
        SELECT project_member_seq
            , user_name
            , project_member_del_yn
            , project_mentor_yn
            , u.project_member_major_yn as user_major_yn
            , project_member_develop_type
            , project_member_commit_score
        FROM tbl_project_member pm
        JOIN tbl_user u
            ON pm.user_seq = u.user_seq
        WHERE project_seq = #{projectSeq}
    </select>

    <select id="selectTeamListForMentor" resultType="TeamResponse">
        SELECT project_title
            , t.team_seq
            , team_name
            , DATE_FORMAT(t.reg_date, '%Y-%m-%d %H:%i:%s') reg_date
        FROM tbl_team t
        JOIN tbl_project p
            ON t.project_seq = p.project_seq
        WHERE p.project_seq = #{projectSeq}
    </select>
</mapper>
